h1, h2, h3, h4, h5, p, a {
  font-family: 'M PLUS Code Latin', sans-serif;
}

p {
  color: #fff;
}

ul{
    list-style-type: none;
}

/* -Home- */
.body-background{
    background-color: #121212;
}

.me-pic {
  border-radius: 10% 0 10% 0;
  height: 33em;
}

.h1-row {
  color: #fa1286;
}

.h2-row {
  /* color: #FFAD00; */
  color: #FF6F61;
}

.h3-row {
  color: #4deeea;
}

.p-row {
  /* color: #44D62C; */
  color: #fff;
}

.p-info {
  padding: 0;
  margin: 0;
}

.b-row {
  color: #FD4174;
  /* color: #A480B8; */
}

.ul-row {
  /* color: #FFF000; */
  color: #232323;
}

.navrow {
  justify-content: space-evenly;
}

.navbar-nav {
  display: contents;
}

.nav-link {
  font-size: 1em;
}

.link-one {
  color: #a9a9a9;
}

.link-one:hover {
  color: #5f5555;
}


.link-two {
  color: #a9a9a9;
}

.link-two:hover {
  color: #5f5555;
}

.link-three {
  color: #a9a9a9;
}

.link-three:hover {
  color: #5f5555;
}

.link-four {
  color: #a9a9a9;
}

.link-four:hover {
  color: #5f5555;
}

/* -Techniques- */

.language-row {
  color: #9760D1;

}

.framework-row {
  color: #B159BA;
}

.tools-row {
  color: #CA51A3;
}

.environments-row {
  color: #D16196;
}

.techniques-list-item{
    margin-top: 2px;
}

/* -Experience- */

.logo-pic{
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.logo-pic-as{
  border-radius: 100%;
  /* width: 100px; */
  height: 40px;
}

.education-row {
  color: #57DDE7;
}

.experience-row {
  color: #779FDC;
}

.gray {
  color: #a9a9a9;
}

/* -Projects- */

.project-pic {
  height: 18em;
}

.center {
  text-align: center;
}

.title-project-one {
  color: #ae0000;
}

.link-project-one {
  color: #a9a9a9;
  font-size: 1.5em;
}

.link-project-one:hover {
  color: #232323;
}